<!DOCTYPE html>
<html>
    <head>
        <title> Home</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/home.css')}}">
        <script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
                <div class="left-links">
                <a href="#" id ="icon">BlossomHub</a>
                </div>
                <div class="right-links">
                <a href="/shop">Shop</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                </div>
        </nav>
            <div class="Banner">   
                <img src="static/banner.png" style="width: 100%; ">
                <div class="left">Where<br> Flowers Bloom,<br> So Does Hope<p class="sline">Cultivate your passion for blooms with knowledge and tools.<br> Explore the art of flowers, nurture your garden of curiosity.</p></div>
                <div class="flbut"><a class="fbut" href="/flowers">Flowers and more</a></div>
                
            </div>
            <div class="div2">
                <img src="static/div2.png" style="width: 100%; ">
                <div class="flw"><a href="/flowers"><p>Flowers</p></a></div>
                <div class="plnt"><a href="/plants"><p>Plants and trees</p></a></div>
                <div class="shp"><a href="/shop"><p>Shop</p></a></div>

            </div>
            <div class="div2">
                <img src="static/aboutus.png" style="width: 100%; ">
            </div>
            
            <div class="footer">
                <footer>
                <div class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
                <ul class="links">
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">About</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy Policy</a>
                </ul>
                <p class="copyright">BlossomHub © 2024</p>
                </footer>
            </div> 
            
    </body>
</html>