<html>
    <head>
        <title>Plants</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/plants.css')}}">
        <script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>
    </head>
</html>
<body>
    <nav>
        <div class="left-links">
        <a href="#" id ="icon">BlossomHub</a>
        </div>
        <div class="right-links">
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        </div>
    </nav>

    <div class="plninfo">
    <div class="infobox">
        <img class="pho" src="static/Eranthemum_roseum.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[0]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[0]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[0]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[0]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[0]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Coix_lacryma-jobi.jpeg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[1]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[1]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[1]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[1]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[1]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Holoptelea-integrifolia.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[2]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[2]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[2]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[2]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[2]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Bombax_ceiba.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[3]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[3]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[3]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[3]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[3]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Asclepias_curassavica.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[4]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[4]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[4]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[4]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[4]}}<br></td>
        </tr>
    </table>
    </div> 
    <div class="infobox">
        <img class="pho" src="static/Catharanthus_roseus.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[5]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[5]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[5]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[5]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[5]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Vateria-indica.jpeg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[6]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[6]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[6]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[6]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[6]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Piper_nigrum.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[7]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[7]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[7]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[7]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[7]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Celosia_argentea.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[8]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[8]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[8]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[8]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[8]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Ficus_religiosa.jpg">
    <table>   
        <tr id="one">
            <td class="tname">{{cnm[9]}}</td>
        </tr>
        <tr id="one">
            <td>Scientific Name -  {{scnm[9]}}</td>
        </tr>
        <tr id="one">
            <td>Family - {{fm[9]}}</td>
        </tr>
        <tr id="one">
            <td><br>Description - {{des[9]}}</td>
        </tr>
        <tr id="one">
            <td><br>Habitat - {{hb[0]}}<br></td>
        </tr>
    </table>
    </div>
    <div class="load_more" ><a href="#">Load More</a></div>   
    </div>
    <div class="footer">
        <footer>
        <div class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
        <ul class="links">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">About</a>
            <a href="#">Terms</a>
            <a href="#">Privacy Policy</a>
        </ul>
        <p class="copyright">BlossomHub © 2024</p>
        </footer>
    </div>
    
   
</body>