<html>
    <head>
        <title>Flowers</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/flowers.css')}}">
        <script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>
    </head>
</html>
<body>
    <nav>
        <div class="left-links">
        <a href="#" id ="icon">BlossomHub</a>
        </div>
        <div class="right-links">
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        </div>
    </nav>
    <div class="flwinfo">
    <div class="infobox">       
    <img class="pho" src="static/himalayanabelia.jpg">
        <table>   
            <tr id="one">
                <td class="tname">{{da[0][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[0][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family - {{da[0][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description - {{da[0][3]}}<br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/AchetariaAzurea.jpg">
        <table>
            <tr id="one">
                <td class="tname">{{da[48][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[48][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[48][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[48][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
    <img class="pho" src="static/Achillea_ptarmica.jpg">
        <table>
            <tr id="one">
                <td class="tname">{{da[49][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[49][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[49][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[49][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
    <img class="pho" src="static/Adenium_obesum.jpg">   
        <table>
            <tr id="one">
                <td class="tname">{{da[80][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[80][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[80][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[80][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
    <img class="pho" src="static/Adenocalymna-comosum.jpg">
        <table>
            <tr id="one">
                <td class="tname">{{da[81][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[81][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[81][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[81][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
    <img class="pho" src="static/Aerides_maculosa.jpg">
        <table>
            <tr id="one">
                <td class="tname">{{da[94][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[94][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[94][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[94][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Ageratina_riparia.jpg">
        <table>
            <tr id="one">
                <td class="tname">{{da[123][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[123][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[123][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[123][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Agrostophyllum_callosum.jpeg">
        <table>
            <tr id="one">
                <td class="tname">{{da[132][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[132][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[132][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[132][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div class="infobox">
        <img class="pho" src="static/Alcea-rosea.jpg">
        <table>
            <tr id="one">
                <td class="tname">{{da[150][0]}}</td>
            </tr>
            <tr id="one">
                <td>Scientific Name -  {{da[150][1]}}</td>
            </tr>
            <tr id="one">
                <td>Family -  {{da[150][2]}}</td>
            </tr>
            <tr id="one">
                <td><br>Description -  {{da[150][3]}}<br><br><br></td>
            </tr>
        </table>
    </div>
    <div  class="load_more" ><a href="#">Load More</a></div>   
    </div> 
    <div class="footer">
        <footer>
        <div class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
        <ul class="links">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">About</a>
            <a href="#">Terms</a>
            <a href="#">Privacy Policy</a>
        </ul>
        <p class="copyright">BlossomHub © 2024</p>
        </footer>
    </div>   
       
   
</body>
